@import 'variables'; 


@for $i from 1 through 5 {
    .lista-#{$i}{
        display: $alinear;
        font-size: $tamano-links;
        text-transform: $mayusculas;
        color: $color-titulos;
        margin: 2%;
    }
}

@each $podcast, $size in (#h2-podcast: 36px, #h3-podcast: 20px, #p-podcast: 16px) {
  #{$podcast} {
    font-size: $size;
  }
}
    

$clases: titulo-noticia;

@each $titulo in $clases {
    [class="#{$titulo}"] {
        font-size: 24px;
    }
}


$clase-imagenes: resize-images; 

@each $imagen in $clase-imagenes {
    [class="#{$imagen}"] {
        width: 100%;
    }
}

$clase-redondeo: image-radius; 

@each $imagen in $clase-redondeo {
    [class="#{$imagen}"] {
        border-radius: 50%; 
    }
}

$clase-autor: alinear-autor; 

@each $texto in $clase-autor {
    [class="#{$texto}"] {
        display: inline-block;
    }
}



