@import 'variables';
@import 'directivas';

* {
    box-sizing: border-box;
    margin:.4%;
    padding:0;
}
.container {
    width:100%;
    max-width:1200px;
    margin: 0px auto;
}

.row {
    width: 100%;
}

.row {
    &:before{
        content: " ";
        display: table;
    }
    &:after {
        @extend .row:before;
        clear:both;
    }
}
[class*="col-"] {
    min-height: 7px;
    padding:12px;
    float:left;
}
@function anchoColumnas($columns){
    @return percentage(($columns/12));
}
@for $numColumn from 1 through 12 {
    .col-#{$numColumn}{
        width:anchoColumnas($numColumn);
    }
}

@mixin large-text {
    font-family: Product Sans;
    font-size: 24px;
    line-height: 32px;
    color: #424242;
    letter-spacing: .28px;
}

#logo {
    padding-left: 35%;
}

#lista-general {
    padding-left: 30%;
}


#lista-general {
    a {
       text-decoration: none; 
    }
}


#seccion-newsfeed {
    border-top: 4px solid $color-azul;
    padding: 41px 0; 
    h3{ 
      display: inline;
      font-size: 24px;
    }
    a{
        text-decoration: none;
        display: inline;
        font-size: 14px;
        color: $color-azul; 
    }
}


#correo {
    margin: 14px 0;
    line-height: 24px;
    padding: 20px;
    background: #f1f3f4;
    border-radius: 2px;
    
    img {
        display: inline;
    }
}

#seccion-proyectos {
    @extend #seccion-newsfeed 
}


.no-link {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    font-style: normal;
    color: #5f6368;
    font-family: Roboto Mono;
}

#asana {
    width: 90px; 
    height: 90px;
}

#seccion-proyectos__texto {
    @extend #seccion-newsfeed;
    padding-top: 24px;
    @include large-text;
}

#seccion-brand {
    @extend #seccion-proyectos;
}

#view {
    text-align: right;
}

#texto-vr {
    @include large-text;
}

